<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>헬스 해야할 것</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button">목록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>삭제</th>
                <th>수정</th>
                <th>날짜</th>
                <th>운동 부위</th>
                <th>운동</th>
                <th>세트</th>
                <th>횟수</th>
                <th>끝</th>
                <th>완료</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="health : ${healths}">
                <td><button class="w-100 btn btn-primary btn-lg"
                            onclick="location.href='editForm.html'"
                            th:onclick="|location.href='@{healths/{healthnum}/delete (healthnum=${health.id})}'|" type="button">삭제</button></td>
                <td><button class="w-100 btn btn-primary btn-lg"
                            onclick="location.href='editForm.html'"
                            th:onclick="|location.href='@{healths/{healthnum}/edit (healthnum=${health.id})}'|" type="button">수정</button></td>
                <td th:text="${health.exercisetime}">날짜</td>
                <td><a href="location.html" th:href="@{/healths/{location}(location=${health.exerciseLocation})}"th:text="${health.exerciseLocation.getLocation()}">운동 부위</a></td>
                <td th:text="${health.exerciseName}">운동</td>
                <td th:text="${health.healthset}">10</td>
                <td th:text="${health.healthcount}">10</td>
                <td th:text="${health.exercisestate}">10</td>
                <td><button class="w-100 btn btn-primary btn-lg"
                            onclick="location.href='editForm.html'"
                            th:onclick="|location.href='@{healths/{healthnum}/state (healthnum=${health.id})}'|" type="button">finish!</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
