<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>헬스 해야할 것</h2>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/basic/healths/add}'|"
                    type="button">헬스 일정 등록</button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>수정</th>
                <th>날짜</th>
                <th>운동 부위</th>
                <th>운동</th>
                <th>세트</th>
                <th>횟수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="health : ${healths}">
                <td><button class="w-100 btn btn-primary btn-lg"
                            onclick="location.href='editForm.html'"
                            th:onclick="|location.href='@{/basic/healths/{healthnum}/edit(healthnum=${health.num})}'|" type="button">수정</button></td>
                <td th:text="${health.datetime}">날짜</td>
                <td><a href="location.html" th:href="@{/basic/healths/{location}(location=${health.location})}"th:text="${health.location.getLocation()}">운동 부위</a></td>
                <td th:text="${health.exerciseName}">운동</td>
                <td th:text="${health.set}">10</td>
                <td th:text="${health.count}">10</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>
